.topnav{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(92, 64, 51,0.8);
}

nav{float:left;}

.search{float: right;}

.logo img{float:left;}

.menu a{ 
  padding:10px;
  font-size:16px;
  color: white;
}

.menu a:hover{
  color:rgb(0, 157, 174);
  text-decoration: none; 
}

.list-inline li {
  list-style: none;
  display: inline;
  padding: 10px;
  font-size: 14px;
  font-weight: bolder;
}
